.test{
    color:black;
}
.chatarea-outer {
    width: 100%;
    float: left;
}
.chatbot-area {
    float: right;
    right: 80px;
    left: auto;
}
.chatarea-inner {
    float: left;
    width: 60%;
    padding: 10px;
    color: black;
    position: relative;
    margin: 5px 0;
}
.chatarea-inner.user {
    background:#FFF0F5;
    border-radius:10px;
}
.chatarea-inner.chatbot {
    background: lightgray;
    float: right;
    border-radius:10px;
}
.col-5 {
    align-content: center;
    width: 600px;
    height: 600px;
    background: white;
    border: 1px solid black;
    border-radius:10px;
}
h3, .h3 {
    font-size: 1.575rem;
    color:black;
}
  